<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>***平台</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="expires" content="0">
  <link href="http://www.360buy.com/favicon.ico" rel="shortcut icon">

  <link type="text/css" href="#springUrl('')/static/widgets/easyui/styles/easyui.css" rel="stylesheet"/>
  <link type="text/css" href="#springUrl('')/static/widgets/artDialog/skins/blue.css" rel="stylesheet"/>

  <link type="text/css" href="#springUrl('')/static/styles/icon.css" rel="stylesheet"/>
  <link type="text/css" href="#springUrl('')/static/widgets/poshytip/tip-yellowsimple/tip-yellowsimple.css" rel="stylesheet"/>
  <link type="text/css" href="#springUrl('')/static/widgets/msgbox/styles/msgbox.css" rel="stylesheet"/>
  <link type="text/css" href="#springUrl('')/static/styles/widgets.ext.css" rel="stylesheet"/>

  <link type="text/css" href="#springUrl('')/static/styles/base.css" rel="stylesheet"/>
  <link type="text/css" href="#springUrl('')/static/styles/page.cp.css" rel="stylesheet"/>
  <!--[if lte IE 7]>
  <link type="text/css" href="#springUrl('')/static/styles/page-ie7.css" rel="stylesheet"/>
  <![endif]-->

  <script type="text/javascript" src="#springUrl('')/static/scripts/base/jquery.js"></script>
  <script type="text/javascript" src="#springUrl('')/static/scripts/base/jquery.ext.js"></script>
  <!--[if lte IE 7]>
  <script type="text/javascript" src="#springUrl('')/static/scripts/base/json2.js"></script>
  <![endif]-->
  <script type="text/javascript" src="#springUrl('')/static/scripts/blockui/jquery.blockUI.cp.js"></script>
  <script type="text/javascript" src="#springUrl('')/static/scripts/form/jquery.form.cp.js"></script>
  <script type="text/javascript" src="#springUrl('')/static/scripts/form/jquery.validate.cp.js"></script>
  <script type="text/javascript" src="#springUrl('')/static/scripts/metadata/jquery.metadata.cp.js"></script>
  <script type="text/javascript" src="#springUrl('')/static/widgets/easyui/jquery.easyui.min.js"></script>
  <script type="text/javascript" src="#springUrl('')/static/widgets/artDialog/jquery.artDialog.js"></script>
  <script type="text/javascript" src="#springUrl('')/static/widgets/artDialog/plugins/iframeTools.js"></script>
  <script type="text/javascript" src="#springUrl('')/static/widgets/poshytip/jquery.poshytip.min.js"></script>
  <script type="text/javascript" src="#springUrl('')/static/widgets/msgbox/scripts/msgbox.js"></script>
  <script type="text/javascript" src="#springUrl('')/static/scripts/common/commons.cp.js?v=20141021"></script>
  <script type="text/javascript" src="#springUrl('')/static/scripts/business/main.js"></script>
  <script type="text/javascript" src="#springUrl('')/static/widgets/easyui/locale/easyui-lang-zh_CN.js"></script>
  <script type="text/javascript" src="#springUrl('')/static/widgets/easyui/jquery.easyui.ext.js"></script>
  <script type="text/javascript">
    Commons.absoluteUrl = function(url){
      return "#springUrl('')" + url;
    }
  </script>
</head>
<body>
<div id="container" class="w-frame clearfix">
  <div id="content-frame">
    $screen_content
  </div>
</div>
</body>
</html>

