.msgbox {
  border-radius: 6px 6px 6px 6px;
  background-position: 10px 11px !important;
  background-repeat: no-repeat !important;
  border: 1px solid;
  font-size: 13px;
  margin: 0 0 15px;
  padding: 0;
  position: relative;
  width: 99.6%;
}

.msgbox.global {
  left: 50%;
  max-width: 500px;
  position: fixed;
  z-index: 1000;
  margin-left: -189.5px;
  top: 60px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.hidden{
  display: none;
}

.msgbox div {
  display: block;
  font-style: normal;
  line-height: 1.5em;
  padding: 10px 10px 10px 36px;
}

.msgbox div.title {
  padding-bottom: 0px;
  font-weight: bold;
}

.msgbox .close {
  color: #990000;
  font-size: 9px;
  position: absolute;
  right: 0px;
  top: 5px;
}

.msgbox .close .icon-close {
  background: url("images/cross_grey_small.png") no-repeat;
  z-index: 1000;
  cursor: pointer;
  left: auto;
  right: 0px;
  position: absolute;
  width: 16px;
  height: 16px;
}

a {
  color: #57A000;
  text-decoration: none;
}

.msgbox.information {
  background: url("images/information.png") repeat scroll 0 0 #DBE3FF;
  border-color: #A2B4EE;
  color: #585B66;
}

.msgbox.attention {
  background: url("images/exclamation.png") no-repeat scroll 10px 11px #FFFBCC;
  border-color: #E6DB55;
  color: #666452;
}

.msgbox.success {
  background: url("images/tick_circle.png") repeat scroll 0 0 #D5FFCE;
  border-color: #9ADF8F;
  color: #556652;
}

.msgbox.error {
  background: url("images/cross_circle.png") repeat scroll 0 0 #FFCECE;
  border-color: #DF8F8F;
  color: #665252;
}