#set($layout = "layout/null.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
  #if(!$errorTitle)
	#set($errorTitle = "错误页面")
	#set($errorContent = "系统内部错误")
  #elseif($!request.getAttribute("javax.servlet.error.status_code") == 404)
    #set($errorTitle = "404错误")
    #set($errorContent = "您请求的资源不存在")
  #elseif($!request.getAttribute("javax.servlet.error.status_code") == 405)
    #set($errorTitle = "405错误")
    #set($errorContent = "不支持此请求方式")
  #elseif($!request.getAttribute("javax.servlet.error.status_code") == 500)
    #set($errorTitle = "500错误")
    #set($errorContent = "系统内部错误，可联系管理员")
  #end
#* <c:if test="${exception.class.simpleName eq 'NoSuchMethodException' or requestScope['javax.servlet.error.status_code'] == 404}">
   <c:set var="errorTitle" value="404错误"/>
   <c:set var="errorContent" value="您请求的资源不存在"/>
 </c:if>*#
  <title>${errorTitle}</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link type="text/css" href="#springUrl('')/static/styles/base.css" rel="stylesheet"/>
  <link type="text/css" href="#springUrl('')/static/styles/page.css" rel="stylesheet"/>
  <link type="text/css" href="#springUrl('')/static/styles/error.css" rel="stylesheet"/>
</head>
<body>
<div class="error-container">
  <h1><strong>$!errorTitle</strong></h1>
  <p>
    $!errorContent
  </p>
  <div class="btnbar">
    <button type="button" class="btn btn-danger" onclick="history.back()">
      &lt;&nbsp;返回
    </button>
  </div>
</div>
</body>
</html> 