/*body {
  background-color: #f7f7f7;
  color: #000;
  font: 12px/1.4 arial,FreeSans,Helvetica,sans-serif;
}*/
.mpanel {
  border: 1px solid #DDDDDD;
  background-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  table-layout: auto;
}
.mpanel div.mpanel-header {
  border-bottom: 1px solid  #DDDDDD;
  cursor: pointer;
  padding: 3px 18px 4px 10px;
  background-color: #EEEEEE;
  border-bottom: 1px solid #DDDDDD;
  box-shadow: 0 1px 0 #F9F9F9 inset;
  height: 28px;
}
.mpanel div.mpanel-header.small {
  padding: 2px 8px 4px 8px;
  height: 22px;
}
.mpanel div.mpanel-header .title-icon24{
  float: left;
}
.mpanel div.mpanel-header .title-icon16{
  line-height: 28px;
}
.mpanel div.mpanel-header h1.center, .mpanel div.mpanel-header h2.center, .mpanel div.mpanel-header h3.center, .mpanel div.mpanel-header h4.center
, .mpanel div.mpanel-header h5.center{
  float:none;
}
.mpanel div.mpanel-header h3 {
  color: #146295;
  float: left;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 36px;
  margin: -2px 12px 0 5px;
  display:inline;
}
.mpanel div.mpanel-header h4 {
  color: #146295;
  float: left;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 32px;
  margin: -4px 12px 0 5px;
  display:inline;
}
.mpanel div.mpanel-header.small h4{
  display:block;
}
.mpanel div.mpanel-header ul.tab-menu {
  list-style-type: none;
  padding: 0;
  position: relative;
  z-index: 5;
}
.mpanel div.mpanel-header ul.tab-menu li {
  float:left;
  margin: 1px 0 0 6px;
  text-align: center;
  border-radius: 4px 4px 0 0;
}
.mpanel div.mpanel-header ul.tab-menu li.active a {
  border-color: #BBBBBB #BBBBBB transparent;
  border-bottom-width: 0px;
  background-color: #fff;
  color: #535353;
}
.mpanel div.mpanel-header ul.tab-menu li a {
  /*background: #f0f0f0;*/
  color: #3A7EA2;
  display: block;
  margin-top: 1px;
  text-decoration: none;
  padding: 5px 10px;
  min-width: 36px;
  line-height: 20px;
  font-size: 13px;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.mpanel div.mpanel-header ul.tab-menu a:hover,.mpanel div.mpanel-header ul.tab-menu a:focus{
  color: #000;
}
.mpanel .mpanel-body {
  padding: 6px;
}

.mpanel .mpanel-header .mpanel-toolbar{
  float: right;
  list-style: none outside none;
  margin: 0;
  position: relative;
}
.mpanel .mpanel-header .mpanel-toolbar > li {
  display: block;
  float: left;
}
.mpanel .mpanel-header.small .mpanel-toolbar > li {
  line-height: 22px;
}
.mpanel .mpanel-header.small .mpanel-toolbar > li a {
  padding: 6px 3px 9px 3px;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);

  /*
  border: 1px solid transparent;
  border-top-width: 0px;
  border-bottom-width: 0px;*/
}
.mpanel .mpanel-header .mpanel-toolbar > li a:hover {/*
  border-color: #DDDDDD;
  background: none repeat scroll 0 0 #E7E7E7;*/
  color: #777777;
  text-decoration: none;
  opacity: 1.0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.mpanel .mpanel-header.small .mpanel-toolbar > li:nth-child(odd){
  margin-left: 3px;
}
.mpanel .pull-left {
  float: left;
}
.mpanel .pull-right {
  float: right;
}
.mpanel.mb5{
  margin-bottom: 5px;
}