#set($layout = "layout/null.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>***平台</title>
</head>
<frameset rows="63,*,23" frameborder="no" border="0" framespacing="0">
  <frame src="#springUrl('')/top" name="frame_top" scrolling="No" noresize="noresize" id="frame_top"/>
  <frame src="#springUrl('')/center" name="frame_center" id="frame_center"/>
  <frame src="#springUrl('')/bottom" name="frame_bottom" scrolling="No" noresize="noresize" id="frame_bottom"/>
</frameset>
<noframes>
  <body>
  </body>
</noframes>
</html>
