#set($layout = "layout/null.vm")
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>***平台</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="expires" content="0">
  <link href="http://www.360buy.com/favicon.ico" rel="shortcut icon">
  <link rel="stylesheet" type="text/css" href="#springUrl('')/static/widgets/mCustomScrollbar/styles/jquery.mCustomScrollbar.css"/>
  <link rel="stylesheet" type="text/css" href="#springUrl('')/static/styles/base.css"/>
  <link rel="stylesheet" type="text/css" href="#springUrl('')/static/styles/page.cp.css"/>
  <link rel="stylesheet" href="#springUrl('')/static/styles/style.css" type="text/css" charset="utf-8"/>
  <script type="text/javascript" src="#springUrl('')/static/scripts/base/jquery.js"></script>
  <script type="text/javascript" src="#springUrl('')/static/widgets/mCustomScrollbar/scripts/jquery.mCustomScrollbar.concat.min.js"></script>
  <script type="text/javascript" src="#springUrl('')/static/scripts/business/main.js"></script>
</head>
<body style='overflow-x: hidden; overflow-y: auto;'>

<div class="menu-container">
  <div class="totalScrollOffset"></div>
  <div id="menu">
    <div class="menu-tit"><a href="javascript:void(0);">***平台</a></div>
    <ul class="menu_lev1">
       #*#foreach($menu1 in $treeResList)
       <li>
           <a #if ((! $menu1.href) || ("$!menu1.href" == "")) href="#" #else href="#springUrl('')$!{menu1.href}" target="frame_main" #end class="tit_lev1"><span>$!{menu1.text}</span></a>
           <ul class="menu_lev2">
               #foreach($menu2 in ${menu1.children})
                 <li>
                     <a #if ((! $menu2.href) || ("$!menu2.href" == "")) href="#" #else href="#springUrl('')$!{menu2.href}" target="frame_main" #end class="tit_lev2"><span>$!{menu2.text}</span></a>
                     <ul class="menu_lev3">
                        #foreach($menu3 in ${menu2.children})
                          <li><a href="#springUrl('')$!{menu3.href}" class="tit_lev3" target="frame_main"><span>$!{menu3.text}</span></a></li>
                        #end
                     </ul>
                 </li>
               #end
           </ul>
       </li>
       #end*#
     </ul>
  </div>
</div>
</body>
</html>

