#set($layout = "layout/null.vm")
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>***平台</title>
  <link rel="stylesheet" href="#springUrl('')/static/styles/style.css" type="text/css" charset="utf-8"/>
  <style type="text/css">
    * {
      padding: 0;
      margin: 0;
    }

    td * {
      line-height: normal;
    }
  </style>
  <script>
    /*左右FRAME页隐藏显示的JS   */
    function switchSysBar() {
      var ssrc = document.getElementById("img1").src;
      if (ssrc.indexOf("navPoint_left.gif") != -1) {
        document.getElementById("img1").src = "#springUrl('/static/styles/images/navPoint_right.gif')";
        document.getElementById("frmTitle").style.display = "none"
      } else {
        document.getElementById("img1").src = "#springUrl('/static/styles/images/navPoint_left.gif')";
        document.getElementById("frmTitle").style.display = ""
      }
    }
  </script>

</head>

<body class="no-scroll">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" style="table-layout:fixed;">
  <tr>
    <td width="218" id=frmTitle noWrap name="fmTitle" align="center" valign="top">
      <iframe id="frame_menu" name="frame_menu" height="100%" width="216" src="#springUrl('')/menu" border="0"
              frameborder="0" scrolling="no" style="border-left: 3px solid #1873aa;">
        浏览器不支持嵌入式框架，或被配置为不显示嵌入式框架。
      </iframe>
    </td>
    <td valign="middle" class="frame-border middle" onclick=switchSysBar()>
      <span class="navPoint" id="switchPoint" title="关闭/打开左栏">
        <img src="#springUrl('/static/styles/images/navPoint_left.gif')" name="img1" width="7" height="47" id="img1"/>
      </span>
    </td>
    <td width="100%" align="center" valign="top">
      <iframe id="frame_main" name="frame_main" height="100%" width="100%" border="0" frameborder="0"
              src="#springUrl('')/order">
        浏览器不支持嵌入式框架，或被配置为不显示嵌入式框架。
      </iframe>
    </td>
  </tr>
</table>
</body>
</html>
