html,
body {
  font-family:Verdana,"微软雅黑";
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #000000;
  background: none repeat scroll 0 0 #F0F0F0;
}
*{
  -moz-margin-start: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  text-rendering: optimizelegibility;
}

img {
  border: none;
  vertical-align: top;
}

li {
  list-style-type: none;
}

strong {
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

div,form,img,ul,ol, li,th, td, dl, dt,dd,button,input {
  margin: 0;
  padding: 0;
  border: 0;
}

input {
  font-size: 13px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.fl {
  float: left
}

.fr {
  float: right
}

.fnone {
  float: none
}

.clear {
  clear: both
}

.clearL {
  clear: left;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .clearfix {
  height: 1%
}

.zoom {
  zoom: 1;
}

.disabled {
  filter: alpha(opacity=30);
  -moz-opacity: .3;
  opacity: 0.3;
  cursor: default;
  color: #777;
  display: inline-block;
}

.no-border {
  border-width: 0px;
}

label {
  display: inline-block;
}

.hide,.hidden {
  display: none;
}

.show {
  display: block;
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}

.center {
  text-align: center;
}
.left {
    text-align: left;
}

a:link, a:visited {
  color: #025A8D;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: #c4161c;
  text-decoration: underline;
}

* :focus, a:active {
  outline: none;
}
.ml5{
  margin-left: 5px;
}
.mt5{
   margin-top: 5px;
 }